<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @pledge.email %>
</p>

<p>
  <b>Name:</b>
  <%= @pledge.name %>
</p>

<p>
  <b>Location:</b>
  <%= @pledge.location %>
</p>


<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
