
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <div class="well">
        <%= form_for(@bike_reg, :html => { :class => "form-horizontal"}) do |f| %>
          <fieldset>

            <% if @bike_reg.new_record? %>
              <%= f.hidden_field :xyz_code %>
            <% end %>

            <legend>Owner name</legend>

            <div class="form-group <%= has_error? @bike_reg, :name %>">
              <label for="bike_reg_name" class="col-lg-3 control-label">Name</label>
              <div class="col-lg-9">
            		<%= f.text_field  :name, :placeholder => "First M. Last", :autofocus => true, :required => true, :class => "form-control" %>
                <%= error_message_for @bike_reg, :name, "Name", :help_text => "Required." %>
              </div>
            </div>

            <div class="form-group">
              <label for="bike_reg_alternate_name" class="col-lg-3 control-label">Alternate Name</label>
              <div class="col-lg-9">
            		<%= f.text_field  :alternate_name, :placeholder => "", :class => "form-control" %>
                <span class="help-block">Here you can enter a second name for yourself, or another person's.</span>
              </div>
            </div>

            <legend>About the bicycle</legend>

            <div class="form-group">
              <label for="bike_reg_serial_number" class="col-lg-3 control-label">Serial Number</label>
              <div class="col-lg-9">
            		<%= f.text_field  :serial_number, :placeholder => "A123456789", :class => "form-control" %>
                <span class="help-block">Not required, but very, very good to include.</span>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_color" class="col-lg-3 control-label">Color</label>
              <div class="col-lg-9">
                <%= f.text_field :color, :placeholder => "blue, green, silver, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_brand" class="col-lg-3 control-label">Brand</label>
              <div class="col-lg-9">
            		<%= f.text_field  :brand, :placeholder => "Specialized, Trek, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_year" class="col-lg-3 control-label">Year</label>
              <div class="col-lg-9">
            		<%= f.text_field  :year, :placeholder => "1985, 2010, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_model" class="col-lg-3 control-label">Model</label>
              <div class="col-lg-9">
            		<%= f.text_field  :model, :placeholder => "Sirrus, EMD, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_kind" class="col-lg-3 control-label">Kind</label>
              <div class="col-lg-9">
            		<%= f.text_field  :kind, :placeholder => "road, mountain, hybrid, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_size" class="col-lg-3 control-label">Size</label>
              <div class="col-lg-9">
            		<%= f.text_field  :size, :placeholder => '54cm, 19", medium, ...', :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_number_of_gears" class="col-lg-3 control-label"># of Gears</label>
              <div class="col-lg-9">
            		<%= f.text_field  :number_of_gears, :placeholder => "1, 10, 24, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group">
              <label for="bike_reg_notes" class="col-lg-3 control-label">Notes</label>
              <div class="col-lg-9">
                <%= f.text_area :notes, :placeholder => "", :size => "x3", :class => "form-control" %>
                <span class="help-block">Any other distinguishing features or markings of this bicycle.</span>
              </div>
            </div>

            <legend>Location</legend>

            <div class="form-group">
              <label for="bike_reg_city" class="col-lg-3 control-label">City</label>
              <div class="col-lg-9">
            		<%= f.text_field  :city, :placeholder => "San Francisco, Honolulu, ...", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label for="bike_reg_state" class="col-lg-3 control-label">State</label>
              <div class="col-lg-9">
            		<%= f.text_field  :state, :placeholder => "CA, HI, ...", :class => "form-control" %>
              </div>
            </div>
            
            <div class="form-group <%= has_error? @bike_reg, :country %>">
              <label for="bike_reg_country" class="col-lg-3 control-label">Country</label>
              <div class="col-lg-9">
                <%= f.text_field  :country, :placeholder => "USA, Japan, ...", :class => "form-control", :required => true %>
                <%= error_message_for @bike_reg, :country, "Country", :help_text => "Required." %>
              </div>
            </div>

            <legend>Identity verification</legend>

            <div class="form-group <%= has_error? @bike_reg, :primary_email %>">
              <label for="bike_reg_email" class="col-lg-3 control-label">Primary Email</label>
              <div class="col-lg-9">
                <%= f.email_field :primary_email, :placeholder => "john.smith@emailservice.com", :class => "form-control", :required => true %>
                <%= error_message_for @bike_reg, :primary_email, "Primary email", :help_text => "Required so that we can verify your identity when you need to update this registration." %>
              </div>
            </div>

            <div class="form-group">
              <label for="bike_reg_second_email" class="col-lg-3 control-label">Second Email</label>
              <div class="col-lg-9">
                <%= f.email_field :second_email, :placeholder => "", :class => "form-control" %>
                <span class="help-block">A backup address, in case your first email becomes invalid.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="bike_reg_third_email" class="col-lg-3 control-label">Third Email</label>
              <div class="col-lg-9">
            		<%= f.email_field :third_email, :placeholder => "", :class => "form-control" %>
                <span class="help-block">Another backup address.</span>
              </div>
            </div>
                        
            <div class="form-group">
              <div class="col-lg-5 col-lg-offset-6">
                <% if @bike_reg.new_record? %>
                  <%= link_to "Cancel", root_path, :class => "btn btn-default" %>
                  <%= f.submit :submit, :class => "btn btn-primary", :value => "Register" %>
                <% else %>
                  <%= link_to "Cancel", bike_reg_path(@bike_reg), :class => "btn btn-default" %>
                  <%= f.submit :submit, :class => "btn btn-primary", :value => "Update Registration" %>
                <% end %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
