<h1>Editing bike_reg</h1>

<%= form_for(@bike_reg, :url => update_bike_reg_path(@bike_reg.xyz_code), :html => { :action => :post }) do |f| %>

<%= render 'form', :f => f %>

<h3>Photos</h3>

<p>You can upload up to 6 photos per registration. It is very good practice to load at least one photo
  of yourself (for identification) and one of your bicycle.
</p>

<% if @bike_reg.photo_1.present? %>
  <%= image_tag(@bike_reg.photo_1_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_1_cache) %>
<%= f.file_field :photo_1 %>

<br>

<% if @bike_reg.photo_2.present? %>
  <%= image_tag(@bike_reg.photo_2_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_2_cache) %>
<%= f.file_field :photo_2 %>

<br>

<% if @bike_reg.photo_3.present? %>
  <%= image_tag(@bike_reg.photo_3_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_3_cache) %>
<%= f.file_field :photo_3 %>

<br>

<% if @bike_reg.photo_4.present? %>
  <%= image_tag(@bike_reg.photo_4_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_4_cache) %>
<%= f.file_field :photo_4 %>

<br>

<% if @bike_reg.photo_5.present? %>
  <%= image_tag(@bike_reg.photo_5_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_5_cache) %>
<%= f.file_field :photo_5 %>

<br>

<% if @bike_reg.photo_6.present? %>
  <%= image_tag(@bike_reg.photo_6_url(:thumb_square)) %>
<% end %>
<%= f.hidden_field(:photo_6_cache) %>
<%= f.file_field :photo_6 %>

<p>Remember we keep a record of every change. Please check everything carefully, and then ...</p>

<%= f.submit :submit, :class => "bigsubmit", :value => "Save Changes" %>

<% end %>

