<h1>Recent Registrations</h1>

<table class="table table-responsive table-condensed">

  <tr>
    <th class="text-center"> Code </th>
    <th> Registered </th>
    <th> Owner </th>
    <th> Color </th>
    <th> Brand </th>
    <th> City </th>
    <th> Country </th>
  </tr>

  <% @bike_regs.each do |bike_reg| %>
    <tr>
      <td class="text-center"> <%= link_to bike_reg.xyz_code, bike_reg_path(bike_reg.xyz_code) %> </td>
      <td> <%= bike_reg.created_at.to_date %>
      <td> <%= bike_reg.name %> </td>
      <td> <%= bike_reg.color %> </td>
      <td> <%= bike_reg.brand %> </td>
      <td> <%= bike_reg.city %> </td>
      <td> <%= bike_reg.country %> </td>
    </tr>
  <% end %>
</table>