<% content_for :title, "#{ @bike_reg.lookup_label } bicycle registration" %>

<h2 class="regcode"><span class="regcode"><%= @bike_reg.lookup_label %></span></h2>

<p>
Registration created at <%= @bike_reg.created_at %> (<%= time_ago_in_words(@bike_reg.created_at) %> ago)

<% if @bike_reg.updated_at > @bike_reg.created_at %>
  <br>
  Last update at <%= @bike_reg.updated_at %> (<%= time_ago_in_words(@bike_reg.updated_at) %> ago)
<% end %>

<% rev_count = @bike_reg.versions.count %>
<% if rev_count > 0 %>
  <br>
  Number of revisions since creation: <%= @bike_reg.versions.count %>
<% end %>
</p>

<p>
  <%= button_to 'Edit this registration', edit_bike_reg_path(@bike_reg.xyz_code), :class => "bigsubmit", :method => :get %>
</p>

<h4>Registered To</h4>

<% if @bike_reg.name.present? %>
Name: <span class="userdata"><%= @bike_reg.name %></span> <br>
<% end %>

<% if @bike_reg.alternate_name.present? %>
Alternate Name: <span class="userdata"><%= @bike_reg.alternate_name %></span> <br>
<% end %>

<% if @bike_reg.city.present? %>
City: <span class="userdata"><%= @bike_reg.city %></span> <br>
<% end %>

<% if @bike_reg.state.present? %>
State: <span class="userdata"><%= @bike_reg.state %></span> <br>
<% end %>

<% if @bike_reg.country.present? %>
Country: <span class="userdata"><%= @bike_reg.country %></span> <br>
<% end %>

<h4>Bicycle Info:</h4>

<% if @bike_reg.serial_number.present? %>
Serial Number: <span class="userdata"><%= @bike_reg.serial_number %></span> <br>
<% end %>

<% if @bike_reg.color.present? %>
Color: <span class="userdata"><%= @bike_reg.color %></span> <br>
<% end %>

<% if @bike_reg.brand.present? %>
Brand: <span class="userdata"><%= @bike_reg.brand %></span> <br>
<% end %>

<% if @bike_reg.year.present? %>
Year: <span class="userdata"><%= @bike_reg.year %></span> <br>
<% end %>

<% if @bike_reg.model.present? %>
Model: <span class="userdata"><%= @bike_reg.model %></span> <br>
<% end %>

<% if @bike_reg.kind.present? %>
Kind: <span class="userdata"><%= @bike_reg.kind %></span> <br>
<% end %>

<% if @bike_reg.size.present? %>
Size: <span class="userdata"><%= @bike_reg.size %></span> <br>
<% end %>

<% if @bike_reg.number_of_gears.present? %>
Number of Gears: <span class="userdata"><%= @bike_reg.number_of_gears %></span> <br>
<% end %>

<% if @bike_reg.notes.present? %>
Description/comments:
<%= simple_format(@bike_reg.notes, {:class => :userdata}, wrapper_tag: "span") %>
<br>
<% end %>

<p>
  <%= button_to 'Edit this registration', edit_bike_reg_path(@bike_reg.xyz_code), :class => "bigsubmit", :method => :get %>
</p>

  
<% if @bike_reg.photo_1.present? %>
  <%= link_to image_tag(@bike_reg.photo_1_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 1) %>
<% end %>

<% if @bike_reg.photo_2.present? %>
  <%= link_to image_tag(@bike_reg.photo_2_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 2) %>
<% end %>

<% if @bike_reg.photo_3.present? %>
  <%= link_to image_tag(@bike_reg.photo_3_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 3) %>
<% end %>

<% if @bike_reg.photo_4.present? %>
  <%= link_to image_tag(@bike_reg.photo_4_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 4) %>
<% end %>

<% if @bike_reg.photo_5.present? %>
  <%= link_to image_tag(@bike_reg.photo_5_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 5) %>
<% end %>

<% if @bike_reg.photo_6.present? %>
  <%= link_to image_tag(@bike_reg.photo_6_url(:small_square)), bike_reg_photo_path(@bike_reg.xyz_code, 6) %>
<% end %>
  
