<%- model_class = Bicycle -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:owner_name) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.owner_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_alternate_name) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.owner_alternate_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:make) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.make) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.model) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.type) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.color) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.size) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gears) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.gears) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.serial) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.city) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.state) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= or_nbsp(@bicycle.country) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bicycles_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bicycle_path(@bicycle), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bicycle_path(@bicycle),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
