
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">
      The Cyclist's Pledge to Fight Bicycle Theft
    </h2>
  </div>

  <p><br>&nbsp;&nbsp;&nbsp;<strong>To do my part in the fight against bicycle theft, I pledge that:</strong></p>

  <ol>
    <li>
      I will register or permanently record my bicycle's serial number.
    </li>
    <li>
      If my bicycle is stolen, I will 
        (a) file a local police report, <strong>and</strong>
        (b) report the theft online with its serial number.
    </li>
    <li>
      Before purchasing a used bicycle, I will search online with the serial 
      number for any reports of it being a stolen bike.
    </li>
    <li>
      If I discover that a bicycle I have purchased was stolen, I will 
      strive to return it to its rightful owner.
    </li>
  </ol>

  <%= form_for(@pledge, :html => { :class => "form-horizontal"}) do |f| %>
    <fieldset>
  
      <div class="form-group <%= has_error? @bike_reg, :name %>">
        <label for="pledge_name" class="col-lg-3 control-label">Name</label>
        <div class="col-lg-9">
      		<%= f.text_field  :name, :placeholder => "First M. Last", :autofocus => true, :required => true, :class => "form-control" %>
          <%= error_message_for @pledge, :name, "Name", :help_text => "Required." %>
        </div>
      </div>

      <div class="form-group">
        <label for="pledge_location" class="col-lg-3 control-label">Location</label>
        <div class="col-lg-9">
      		<%= f.text_field  :location, :placeholder => "San Francisco, CA;  Honolulu, HI; ...", :class => "form-control" %>
        </div>
      </div>
  
    </fieldset>
  <% end %>

</div>

<h4>Notes</h4>

<p>In some locales, where bicycle registration is mandated, the police will not accept
a report of a bicycle being stolen if it was not properly registered. You really should 
register with any local registries.</p>

<p>If your bicycle is stolen, you must report it to the police, so that when it is 
located they will actually assist in its recovery. You must report it online so that
potential buyers can discover that it is stolen. Making these two reports
is the absolute minimum action. The more places you report the theft, the
higher your chance of recovery.</p>

<p>When dealing with an online seller of a bicycle, if they have not posted the 
serial number in their ad, request it. If they will not tell you the serial 
number, do not deal with that seller.</p>

<p>Verify that the serial number on the bicycle matches what the seller told you.
If it's off by a single digit, do not buy the bicycle.</p>



