<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <title><%= content_for?(:title) ? yield(:title) : SITE_TITLE %></title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "bikexyz_extras.css" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <% if is_front_page? %>
      <style type="text/css" media="screen">
      body { padding-top: 0px;}
      .front-page-bg {
        margin-bottom: 0px;
        background-image: url(<%= image_path "caltrain-bikes.jpg" %>);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        width: 100%;
        height: 0px;
        padding-bottom: 56%;
/*        border: 1px solid green;*/
        margin-bottom: 10px;
      }
      .front-page-fg {
        color: #fff;
/*        border: 2px solid pink;*/
        padding-top: 5%;
      }
      .front-page-hd-img {
        margin-left: 30px;
        background-image: url(<%= image_path "front-page-header.jpg" %>);
        opacity: 0.9;
        filter:alpha(opacity=90); /* For IE8 and earlier */
        width: 244px;
        height: 105px;
        color: #efefef;
        font-size: 30px;
        padding-left: 50px;
        padding-top: 55px;
      }
      
      a.front-page-link {
        text-align: center;
        width: 10em; 
        font-size: 200%; 
        color: #009245; 
        opacity: .9; 
        background-color: #eee;
        display: block;
        text-decoration: none;
      }
      </style>
    <% end %>
  </head>
  <body>

    <% if is_front_page? %>
      <%= yield %>
    <% else %>
    
      <div class="container">

        <div class="row">
          <div class="col-xs-1 min50"><%= image_tag "logo_sml.png", :alt => "bikexyz logo" %></div>
          <div class="col-xs-8">

            <nav>
              <ul class="nav-menu">

                <li> <%= link_to "Home", root_path %> </li>
                <li> <%= link_to "Register", new_bike_reg_path %> </li>
                <li> <%= link_to "Search", search_path %> </li>
                <li> <%= link_to "Recent", recent_bike_regs_path %> </li>
                <li> <%= link_to "FAQ", faq_path %> </li>
                <li> <%= link_to "About", about_path %> </li>
              </ul>
            </nav>
          </div>
        
          <% if session[:email].present? %>
            <div class="col-xs-3">
              <!-- 
              <div class="pull-right">
                <a class="btn btn-primary btn-xs" href="<%= signout_path %>">sign out (<%= session[:email] %>)</a>
              </div>
              -->
              
              <ul class="nav nav-pills">
                <li class="dropdown">
                  <a class="dropdown-toggle nowrap" data-toggle="dropdown" href="#">
                    verified as <%= session[:email] %> <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "my registrations", my_bike_regs_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "sign out", signout_path %></li>
                  </ul>
                </li>
              </ul>
              
            </div>
          <% end %>
          
          <div class="col-xs-11">

            <!-- flash -->
            <% flash.each do |level, msg| %>
              <% if msg.is_a? Array %>
                <% msg.each do |each_msg| %>
                  <div class="alert alert-dismissable alert-<%= flash_class level %>">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <%= each_msg %>
                  </div>
                <% end %>
              <% else %>
                <div class="alert alert-dismissable alert-<%= flash_class level %>">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <%= msg %>
                </div>
              <% end %>
            <% end %>
            <!-- end flash -->
          
            <%= yield %>
          </div>
        </div>

      </div><!-- /.container -->
    <% end %>

    <% if do_show_copyright? %>
      <div id="footer">
        <div class="container">
          <p class="text-muted text-center">&copy; <%= SITE_TITLE %> <%= Date.today.year %></p>
        </div>
      </div>
    <% end %>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <%= javascript_include_tag "bootstrap.min.js" %>
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= ENV["BIKEXYZ_GOOGLE_TRACKING_CODE"] %>', '<%= ENV["BIKEXYZ_GOOGLE_TRACKING_NAME"] %>');
    ga('send', 'pageview');

  </script>
</html>
